1. 컨텐츠기반 추천시스템
2. 컨텐츠를 활용할 수 있는지
3. 어떻게 컨텐츠들이 서로 연관이 있는지 평가하는 방법
4. 근접이웃기반 컨텐츠기반 추천시스템 -> k-nearest neighbor
5. naive bayes classifer -> 베이즈 추천시스템
6. TF-IDF 개념설명 그리고 실습

추천시스템 성능 평가
-> RMSE

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
import pandas as pd
import numpy as np
from tqdm import tqdm

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

## Dataset 불러오기

In [ ]:
# 각자 작업 환경에 맞는 경로를 지정해주세요. Google Colab과 Jupyter환경에서 경로가 다를 수 있습니다.
path = '/content/drive/MyDrive/data/movielens'

ratings_df = pd.read_csv(os.path.join(path, 'ratings.csv'), encoding='utf-8')
movies_df = pd.read_csv(os.path.join(path, 'movies.csv'), index_col='movieId', encoding='utf-8')
tags_df = pd.read_csv(os.path.join(path, 'tags.csv'), encoding='utf-8')

In [ ]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [ ]:
movies_df.head()

                                      title                                       genres
movieId
1                          Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                            Jumanji (1995)                   Adventure|Children|Fantasy
3                   Grumpier Old Men (1995)                               Comedy|Romance
4                  Waiting to Exhale (1995)                         Comedy|Drama|Romance
5        Father of the Bride Part II (1995)                                       Comedy

In [ ]:
tags_df.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

## Genres를 이용한 movie representation

In [ ]:
total_count = len(movies_df.index)
total_genres = list(set([genre for sublist in list(map(lambda x: x.split('|'), movies_df['genres'])) for genre in sublist]))

In [ ]:
print(f"전체 영화 수: {total_count}")
print(f"장르: {total_genres}")

전체 영화 수: 9742
장르: ['Romance', 'Fantasy', 'Mystery', 'Comedy', 'War', 'Thriller', 'Sci-Fi', 'Adventure', 'Documentary', 'Crime', 'IMAX', 'Western', 'Children', 'Animation', 'Horror', '(no genres listed)', 'Film-Noir', 'Action', 'Drama', 'Musical']

In [ ]:
print(len(total_genres))

20

In [ ]:
genre_count = dict.fromkeys(total_genres)

for each_genre_list in movies_df['genres']:
    for genre in each_genre_list.split('|'):
        if genre_count[genre] == None:
            genre_count[genre] = 1
        else:
            genre_count[genre] = genre_count[genre]+1

In [ ]:
genre_count

{'(no genres listed)': 34,
 'Action': 1828,
 'Adventure': 1263,
 'Animation': 611,
 'Children': 664,
 'Comedy': 3756,
 'Crime': 1199,
 'Documentary': 440,
 'Drama': 4361,
 'Fantasy': 779,
 'Film-Noir': 87,
 'Horror': 978,
 'IMAX': 158,
 'Musical': 334,
 'Mystery': 573,
 'Romance': 1596,
 'Sci-Fi': 980,
 'Thriller': 1894,
 'War': 382,
 'Western': 167}

In [ ]:
for each_genre in genre_count:
    genre_count[each_genre] = np.log10(total_count/genre_count[each_genre])
  
genre_count

{'(no genres listed)': 2.457169208193496,
 'Action': 0.7266719338379385,
 'Adventure': 0.8872447746804204,
 'Animation': 1.2026069149931968,
 'Children': 1.1664800458677336,
 'Comedy': 0.41392254164167785,
 'Crime': 0.9098289421369025,
 'Documentary': 1.3451954487495636,
 'Drama': 0.3490620385623247,
 'Fantasy': 1.0971106675631868,
 'Film-Noir': 2.0491288726171324,
 'Horror': 0.9983092704481497,
 'IMAX': 1.7899910382813284,
 'Musical': 1.4649016584241867,
 'Mystery': 1.2304935032683613,
 'Romance': 0.7856152382210405,
 'Sci-Fi': 0.9974220495432562,
 'Thriller': 0.7112681505684965,
 'War': 1.4065847623240424,
 'Western': 1.7659316540881678}

In [ ]:
# create genre representations
genre_representation = pd.DataFrame(columns=sorted(total_genres), index=movies_df.index)
for index, each_row in tqdm(movies_df.iterrows()):
    dict_temp = {i: genre_count[i] for i in each_row['genres'].split('|')}
    row_to_add = pd.DataFrame(dict_temp, index=[index])
    genre_representation.update(row_to_add)

genre_representation

9742it [00:52, 186.70it/s]

        (no genres listed)    Action Adventure  ... Thriller  War Western
movieId                                         ...
1                      NaN       NaN  0.887245  ...      NaN  NaN     NaN
2                      NaN       NaN  0.887245  ...      NaN  NaN     NaN
3                      NaN       NaN       NaN  ...      NaN  NaN     NaN
4                      NaN       NaN       NaN  ...      NaN  NaN     NaN
5                      NaN       NaN       NaN  ...      NaN  NaN     NaN
...                    ...       ...       ...  ...      ...  ...     ...
193581                 NaN  0.726672       NaN  ...      NaN  NaN     NaN
193583                 NaN       NaN       NaN  ...      NaN  NaN     NaN
193585                 NaN       NaN       NaN  ...      NaN  NaN     NaN
193587                 NaN  0.726672       NaN  ...      NaN  NaN     NaN
193609                 NaN       NaN       NaN  ...      NaN  NaN     NaN

[9742 rows x 20 columns]

## Tag를 이용한 Movie Representation

In [ ]:
tags_df.head(5)

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [ ]:
movies_df.loc[89774]

title     Warrior (2011)
genres             Drama
Name: 89774, dtype: object

In [ ]:
# get unique tag
tag_column = list(map(lambda x: x.split(','), tags_df['tag']))
unique_tags = list(set(list(map(lambda x: x.strip(), list([tag for sublist in tag_column for tag in sublist])))))

print(unique_tags)

['rap', 'slick', 'mental illness', 'movie business', 'unintelligent', 'adultery', 'business', 'artsy', 'suburbia', 'truckers', 'amazing artwork', 'Casey Affleck', 'gothic', 'splatter', 'unlikely hero', 'Shia LaBeouf', 'black-and-white', 'chick flick', 'Brad Pitt', 'claustrophobic', 'cruel characters', 'Rogue', 'In Your Eyes', 'heroin', 'Tarantino', 'Train', 'generation X', 'ben stiller', 'costume drama', 'robbery', 'multiple roles', 'melancholy', 'non-linear timeline', 'conversation', 'cult', 'assassination', 'bad', 'heroine in tight suit', 'futuristic', 'drugs', 'singers', 'Stephen King', 'predictible plot', 'cheeky', 'French', 'happpiness', 'ghosts', 'system holism', 'trains', 'South America', 'technology', 'fish', 'nerds', 'solitude', 'Josh Brolin', 'POW', 'Oscar (Best Supporting Actress)', 'remade', 'Uma Thurman', 'Renee Zellweger', 'gun tactics', 'Shakespeare', 'dark comedy', 'McDonalds', 'conspiracy', 'Clousseau', 'great cinematography', 'Captain America', 'melancholic', 'plastic surgery', 'prequel', 'Eccentric', 'Tim Burton', 'Thanksgiving', 'Turkey', 'Queen Victoria', 'e-mail', 'tear jerker', 'space opera', 'art', 'Seth MacFarlane', 'Myth', 'horses', 'Harper Lee', 'Seann William Scott', 'nightclub', 'stupid', 'captain nemo', 'Julianne Moore', 'Made me cry', 'immigration', '1960s', 'Notable Nudity', 'illusions', 'marriage', 'Paul Rudd', 'insightful', 'video game adaptation', 'bank', 'big budget', 'original', 'cult film', 'genius', 'Narrative pisstake', 'Keanu Reeves', 'Wesley Snipes', 'colorful', 'Cambodia', 'dark hero', 'large cast', 'falling', 'tension', 'reflective', 'Francis Ford Coppola', 'killer', 'american idolatry', 'mockumentary', 'brutality', 'FBI', 'ogres', 'Macaulay Culkin', 'test tag', 'bittersweet', 'stylish', 'based on a book', '2001-like', 'harsh', 'busniess', 'doll', 'psychology', 'crime scene scrubbing', 'passion', 'mafia', 'Natalie Portman', 'visually stunning', 'real estate', 'Siam', 'innovative', 'gold', 'fast-paced', 'bleak', 'ryan reynolds', 'Harrison Ford', 'six-fingered man', 'Union', 'free speech', 'Woody Harrelson', 'vampire', 'Zooey Deschanel', 'bad-ass', 'stephen king', 'the catholic church is the most corrupt organization in history', 'gruesome', 'stone age', 'british comedy', 'David Fincher', 'California', 'good dialogue', 'Well Done', 'homosexuality', 'superhero team', 'short stories', 'threesome', 'wrongful imprisonment', 'Emma Stone', 'beautifully filmed', 'character study', 'con men', 'John Goodman', 'r:graphic sexuality', 'Stephen Crane', 'stand-up comedy', 'black and white', 'Shangri-La', 'shipwreck', 'sex', 'noir', 'psychopaths', 'symbolic', 'freedom', 'Paris', 'magic', 'china', 'Rachel Weisz', 'DEPRESSING', 'prejudice', 'paranoid', 'Surreal', 'revolution', 'mathematics', 'Michigan', 'Tolstoy', 'Maggie Gyllenhaal', 'alternate universe', 'mobsters', 'statue', 'Mark Wahlberg', 'hotel', 'bluegrass', 'bad writing', 'Strangers on a Train', 'biography', 'daniel radcliffe', 'based on a play', 'beat poetry', 'Tom Hardy', 'Henry James', 'music business', 'video games', 'space epic', 'convent', 'engrossing adventure', 'British', 'Atomic bomb', 'circus', 'Doc Ock', 'Housekeeper', 'Holy Grail', 'Grace', 'rabbi', 'HOT actress', 'coma', 'Viggo Mortensen', 'restaurant', 'space craft', 'FIGHTING THE SYSTEM', 'suspenseful', 'city politics', 'alter ego', 'Police', 'Sci-Fi', 'italy', 'Epic', 'Post apocalyptic', 'Mexico', 'Not available from Netflix', 'mythology', 'Hal', 'slow paced', 'gangster', 'camp', 'Seth Rogen', 'spying', "Eugene O'Neill", 'dumb', 'zither', 'cliche characters', 'Titanic', 'dust bowl', 'interracial romance', 'paranoia', 'David Bowie', 'superhero', 'dreamy', 'sexy', 'small time criminals', 'lesbian', 'space station', 'cool style', 'film-noir', 'androids', 'subway', 'gun-fu', 'Poor story', 'sad', 'entirely dialogue', 'Arthur Miller', 'marijuana', 'secrets', 'donkey', 'mystery', 'shenanigans', 'DC Comics', 'humorous', 'powerful ending', 'Johnny Depp', 'human rights', 'reciprocal spectator', 'C.S. Lewis', 'gunfight', 'bowling', 'heist', 'Stock Market', 'Palahnuik', 'lack of story', 'love story', 'indiana jones', 'nanny', 'flood', 'wonderwoman', 'gun fu', 'intense', 'remix culture', 'Lonesome Polecat', 'audience intelligence underestimated', 'wapendrama', 'Food', 'nonlinear storyline', 'south park', 'genocide', 'holocaust', 'Highly quotable', 'robots', 'fun family movie', 'r:sustained strong stylized violence', 'awesome', 'mad scientist', 'Something for everyone in this one... saw it without and plan on seeing it with kids!', 'pizza beer', 'apes', 'disappointing', 'children', 'Jennifer Connelly', 'Heartwarming', 'Studio Ghibli', 'teenage pregnancy', 'May-December romance', 'epic', 'World War II', 'masterpiece', 'art house', 'mel gibson', 'Johnny Cash', 'made me cry', 'romantic comedy', 'E. M. Forster', 'cheating', 'episodic', 'Scotland', 'schizophrenia', 'multiple storylines', 'biopic', 'M. Night Shyamalan', 'Gambling', 'avant-garde romantic comedy', 'lieutenant dan', 'Pearl S Buck', 'Documentary', 'Bette Davis', 'black hole', 'Mel Gibson', 'Ichabod Crane', 'space travel', 'John Travolta', 'Howard Hughes', 'Japan', 'thought-provoking', 'photographer', 'MacBeth', 'dating', 'Visually stunning', 'smart', 'feel-good', 'Cold', 'Mental Hospital', 'romance', 'annoying', 'nightmare', 'Europe', 'organized crime', 'AIDs', 'bad acting', 'multiple personalities', 'shark', '70mm', 'based on a true story', 'interesting characters', 'Christian Bale', 'Adam Sandler', 'sexuality', 'Disney animated feature', 'crazy', 'dance marathon', 'original plot', 'I am your father', '06 Oscar Nominated Best Movie - Animation', 'adult humor', 'Morrow', 'chilly', 'slavery', 'soundtrack', 'pixar', 'Toto', 'economics', 'blood', 'for katie', 'James Franco', 'highschool', 'vampires', 'missionary', 'bears', 'Navy', 'artificial intelligence', 'multiple short stories', 'priest', 'Unique', 'irreverent', 'fantasy world', 'whimsical', 'creative', 'lawyer', 'somber', 'mountain climbing', 'Sundance award winner', 'childish naivity', 'books', 'It was melodramatic and kind of dumb', 'darth vader', 'teen', 'stapler', 'quick cuts', 'evil children', 'Ben Affleck', 'James Stewart', 'food', 'brothers', 'ironic', 'Comedy', 'Amy Adams', 'contemplative', 'abortion', 'Einstein', 'new society', 'memory', 'ex-con', 'R language', 'Ben Stiller', 'fighting', 'android(s)/cyborg(s)', 'ethics', 'crime', 'Saturday Night Live', 'Salieri', 'Simple', 'allegorical', 'bruce willis', 'cattle drive', 'tragic', 'satire', 'Klingons', 'swashbuckler', 'time-travel', 'prom', 'white guilt', 'anger', 'predictable', 'surrealism', 'classic', 'history', 'Tennessee Williams', 'Jaime Pressly', 'gangsters', 'John Grisham', 'Dark', 'motherhood', 'Chris Klein', 'George Bernard Shaw', 'Quotable', 'Leonardo DiCaprio', 'World War I', 'Modern war', 'good and evil', 'exciting', 'Hungary', 'Exquisite plotting.', 'interesting', 'Kevin Smith', 'Savannah', 'cyberpunk', 'von Bulow', 'evolution', 'sofia coppola', 'SNL', 'domestic violence', 'Judaism', 'Tolkein', 'butler', 'Suspense', 'Mafia', 'ancient Rome', 'goofy', 'school', 'televangelist', 'TERRORISM', 'romantic', 'Bill Murray', 'mind-blowing', 'witty', 'earnest', 'gore', 'screwball', 'violence in america', 'loneliness', 'faerie tale', 'challenging', 'Pee Wee Herman', 'music industry', 'money', 'offensive', 'ensemble cast', 'Up series', 'Moving', 'purity of essence', 'E.M. Forster', 'Favelas', 'cynical', 'unsettling', 'strange', 'mediacentralism', 'England', 'amazing', 'jim carrey', 'Russia', 'beautiful visuals', 'Recap', 'character development', 'lesbian subtext', 'Sinbad', 'cross dressing', 'Poor plot development', 'intelligent sci-fi', 'King Arthur', 'mermaid', 'love', 'Joker', 'Boxing story', 'aggressive', 'Marion Cotillard', 'good writing', 'photography', 'scandal', 'Mozart', 'saint', 'Philip K. Dick', 'Roger Avary', 'long shots', 'alone in the world', 'smart writing', 'dance', 'golf', 'Simon Pegg', 'thought provoking', 'future', 'Star Wars', 'confrontational', 'Revenge', 'neo-noir', 'psychological', 'biking', 'rug', 'Insanity', 'Las Vegas', 'computer animation', 'oninous', 'twist ending', 'Chris Evans', 'Twist Ending', 'Ray Bradbury', 'boring', 'Disney', 'Kevin Costner', 'Captain Kirk', 'Thanos', 'scenic', 'directorial debut', 'superman', 'Borg', 'Batman', 'bizarre', 'bromantic', 'casual violence', 'Jekyll and Hyde', 'political commentary', 'mining', 'Horrid characterisation', 'bible', 'Charlize Theron', 'ummarti2006', 'Matt Damon', 'spelling bee', 'atmospheric', 'fantasy', 'sword fight', 'Classic', 'HORRIBLE ACTING', 'anime', 'Horrible directing', 'lovely', 'radio', 'surfing', 'hit men', 'bloody', 'animation', 'confusing ending', 'cameo:Whoopi Goldberg', 'Audrey Tautou', 'Hilary Swank', 'Australia', 'representation of children', 'rasicm', 'Orlando Bloom', 'nuns', 'George Lucas', 'pop culture references', 'dumpster diving', 'too many characters', 'justice', 'Romans', 'Nick and Nora Charles', 'societal criticism', 'insanity', 'whales', 'Horror', 'unconventional', 'Thrilling', 'horror', 'movies about movies', 'colourful', 'violence', 'unusual', 'BEST PICTURE', 'sweet', 'Magic', 'Gulf War', 'camels', 'scifi', 'big corporations', 'Butler', 'Tradition!', 'American propaganda', 'Loretta Lynn', '1920s', 'uplifting', 'spies', 'heartbreaking', 'Marx brothers', 'Canada', 'bus', 'alcoholism', 'nostalgia', 'Dystopia', 'political right versus left', 'ransom', 'serial killer', 'workplace', 'tension building', 'uncomfortable', 'India', 'hula hoop', 'aging', 'Harley Quinn', 'truth', 'fatalistic', 'Jessica Alba', 'Hannibal Lecter', 'imdb top 250', 'Quakers', 'lyrical', 'psychiatrist', 'crucifixion', 'disturbing', 'death penalty', 'gentle', 'intimate', 'tearjerking', 'sisterhood', 'Shark', 'President', 'coen brothers', 'magic board game', 'touching', 'Mila Kunis', 'divorce', 'not funny', 'no dialogue', 'unpredictable', 'racism', 'southern US', 'interwoven storylines', 'building a family', 'Heroic Bloodshed', 'thriller', 'random', 'absorbing', 'Cold War', 'Guardians of the Galaxy', 'kids', 'knights', 'saints', 'apocalypse', 'secret society', 'parenthood', 'non-linear', 'social commentary', 'Moses', 'dialogue', 'mindfuck', 'moving', 'Jim Morrison', 'dreams', 'lies', 'Boston', 'true story', 'lawyers', 'Thor', 'baseball', 'Al Pacino', 'Dorothy', 'masculinity', 'franchise', 'confusing', 'American Indians', 'satirical', 'far fetched', 'Oscar Wilde', 'anthology', 'start of a beautiful friendship', 'Capote', 'terrorism', 'assassins', 'Jason Segel', 'Cult classic', 'Simon and Garfunkel', 'surreal', 'overcomplicated', 'NASA', 'deafness', 'rebellion', 'widows/widowers', 'disjointed timeline', 'revenge', 'Holocaust', 'Watergate', 'weak plot', 'meryl streep', 'western', 'diabetes', 'very funny', 'Jesse Ventura', 'Great Visuals', 'Great movie', 'George Clooney', 'ending', 'fatherhood', 'intellectual', 'ballet', 'immigrants', 'individualism', 'animal movie', 'big top', 'Coen Brothers', 'Jean Grey', 'mecha', 'Graham Greene', 'race', 'television', 'pregnancy', 'bizzare', 'Rolling Stone', 'mental hospital', 'updated classics', 'I see dead people', 'ROBOTS AND ANDROIDS', 'sisters', 'pool', 'Liam Neeson', 'Academy award (Best Supporting Actress)', 'Visually Striking', 'Adrien Brody', 'SPACE TRAVEL', 'theater', 'abstract', 'muppets', 'transvestite', 'new york', 'Olympics', 'Brooch', 'modern fantasy', 'dark fairy tale', 'aardman', 'assassin', '"artsy"', 'France', 'Ghosts', 'Samuel L. Jackson', 'Journalism', 'biblical references', 'spaghetti western', 'Mrs. DeWinter', 'humane', 'milkshake', 'overrated', 'Ewan McGregor', 'interesting scenario', 'moon', 'out of order', 'Animation', 'child abuse', 'will ferrell', 'happy ending', 'male nudity', 'nocturnal', 'killer-as-protagonist', 'kidnapping', 'wistful', 'Inigo Montoya', 'stop looking at me swan', 'computer', 'ships', 'luke skywalker', 'r:strong bloody violence', 'PTSD', 'deadpan', 'indie record label', "Harley Quinn's ass", 'TV', 'Scott Turow', 'iconic', 'last man on earth', 'movies', 'Politics', 'Nun', 'star wars', 'Empire State Building', 'dinosaurs', 'cheesy', 'Agatha Christie', 'stupid is as stupid does', 'bad script', 'Colin Farrell', '1950s', 'New York City', 'Oscar (Best Actress)', 'Christmas', 'lack of plot', 'AS Byatt', 'Katzanzakis', 'seen at the cinema', 'EPIC', 'crappy sequel', 'They Might Be Giants', 'Oscar (Best Effects - Visual Effects)', 'claymation', 'parrots', 'kung fu', 'unique', 'autism', 'Stanley Kubrick', 'John Cusack', 'journalism', 'moldy', 'personals ads', 'Day and Hudson', 'Jared Leto', 'Peter Pan', 'Alfred Hitchcock', 'voyeurism', 'cult classic', 'acting', 'Nudity (Topless)', 'drama', 'Quirky', 'hallucinatory', 'Music', 'Deep Throat', 'James Fennimore Cooper', 'action choreography', 'depression', 'downbeat', 'emma thompson', 'Missionary', 'brilliant', 'Margot Robbie', 'Broadway', 'historical', 'China', 'philosophical', 'post-apocalyptic', 'Jason', 'Ed Harris', 'Vulgar', 'Native Americans', 'stylized', 'Italy', 'basketball', 'Marvel', 'great humor', 'hilarious', 'Mark Ruffalo', 'hippies', 'nonlinear', 'Andy Garcia', 'achronological', 'new composer', 'High School', 'adoption', 'creepy', 'inspiring', 'General Motors', 'good soundtrack', 'Eric Bana', 'Psychological Thriller', '2D animation', 'skiing', 'police corruption', 'football', 'bromance', 'leonardo DiCarpio', 'boksdrama', 'imaginary friend', 'remake', 'Insane', 'ocean', 'Rome', 'really bad', 'Soundtrack', 'existentialism', 'philosophy', 'eerie', 'Shakespeare sort of', 'Family', 'military', 'Coen Bros', 'alternate endings', 'computers', 'Hollywood', 'quotable', 'gambling', 'Eva Green', 'controversial', 'Action', 'Chile', 'Dinosaur', 'Wall Street', 'prostitution', 'painter', 'Peace Corp', 'Africa', 'christmas', 'Amtrak', 'rape', 'DC', 'the Force', 'film noir', 'graphic design', 'police', 'end of the world', 'CGI', 'opera', 'best comedy', 'Disaster', 'remaster', 'poetic', 'ark of the covenant', 'fast paced', 'characters', 'preacher', 'mindless one liners', 'joss whedon', 'haunting', 'Metaphorical', 'Gary Oldman', 'jazz', 'silly', 'time travel', 'Crude humor', 'MCU', 'Andrew Lloyd Weber', 'dead wife', 'Astaire and Rogers', 'investor corruption', 'Tolkien', 'factory', 'Backwards. memory', 'comics', 'governess', 'off-beat comedy', 'reunion', 'Chuck Palahniuk', 'fun', 'aquarium', 'martial arts', 'Anne Hathaway', 'good', 'Mount Rushmore', 'Capone', 'espionage', 'singletons', 'river', 'mice', 'Cole Porter', 'friendship', 'comic book', 'Justin Timberlake', 'tragedy', 'spoof', 'psychedelic', 'awkward', 'Dull', 'Indonesia', 'interracial marriage', 'reality TV', 'heartwarming', 'great acting', 'samurai', 'r:strong language', 'Firefly', 'quirky', 'insomnia', 'action', 'undercover cop', 'fugitive', 'class', 'classic movie', 'revolutionary', 'Beatles', 'nuclear war', 'black humour', 'postmodern', 'villain nonexistent or not needed for good story', 'bad humor', 'Lou Gehrig', 'enigmatic', 'morality', 'Star Trek', 'Prince', 'Existential', 'war', 'Civil War', 'suicide', 'death', 'treasure hunt', 'hostage', 'Aardman', 'Ben Kingsley', 'dreamlike', 'notable soundtrack', 'alan rickman', 'beautiful cinematography', 'Ireland', 'independent', 'retro', 'matchmaker', 'missing children', 'celebrity fetishism', 'Andy Samberg', '1970s', 'corruption', 'Jesse Eisenberg', 'quirky romantic', 'weddings', 'McCarthy hearings', 'Dwayne Johnson', 'wry', 'Bad writing', 'Black comedy', 'emotional', 'jake gyllenhaal', 'alternate reality', 'Stones of Summer', 'Kurt Russell', 'jon hamm', 'Trey Parker', 'big name actors', 'accident', 'Sustainability', 'space', 'Mystery', 'helena bonham carter', 'Oscar (Best Cinematography)', 'setting:space/space ship', 'prodigies', 'spacecraft', 'artistic', 'Clock', 'infertility', 'Halloween', 'Bible', 'disability', 'lawn mower', 'surprise ending', 'Afghanistan', 'Dan Aykroyd', 'murder', 'ridiculous', 'Gangs', 'gintama', 'storytelling', 'tedious', 'writing', 'r:disturbing violent images', 'cool', 'longing', 'cryptic', 'scifi cult', 'Bechdel Test:Fail', 'stranded', 'small towns', 'sarcasm', 'Nicolas Cage', 'virginity', 'amnesia', 'Steve Buscemi', 'good music', 'gritty', 'nonsense', 'inspirational', 'obsession', 'clever', 'live action/animation', 'Enterprise', 'imagination', 'freaks', 'imaginative', 'beautiful scenery', 'dark', 'Funny', 'adorable', 'great dialogue', 'Louisa May Alcott', 'tobacco', 'stop using useless characters for filler', 'Neil Patrick Harris', 'No DVD at Netflix', 'ben affleck', 'Nerd', 'Sci-fi', '1980s', 'Creature Feature', 'Conan', 'Alicia Vikander', 'Jake Gyllenhaal', 'homeless', 'royal with cheese', 'freedom of expression', 'jay and silent bob', 'needed more autobots', 'Witty', 'intelligent', 'Arthur C. Clarke', 'visually appealing', 'Ralph Fiennes', 'trippy', 'stupid ending', 'Bugs Bunny', 'Arnold Schwarzenegger', 'Robert Ludlum', 'adolescence', 'dc comics', 'guns', 'Anthony Hopkins', 'Martin Scorsese', 'Kevin Spacey', 'KIDNAPPING', 'symbolism', 'Christopher Nolan', 'Magneto', 'philosophical issues', 'L.A.', 'jungle', 'great soundtrack', 'Rogers and Hammerstein', 'Gal Gadot', 'sequel', 'Jean Reno', 'Rosebud', 'complicated', 'pudding', 'bad jokes', 'Insurance', 'Jim Carrey', 'Robin Williams', 'plot twist', 'Dumas', 'music', 'lack of development', 'zombies', 'conspiracy theory', 'pigs', 'train', 'teachers', 'submarine', 'Jason Biggs', 'documentary', 'game', 'politics', 'cancer', 'John Malkovich', 'Great villain', 'intertwining storylines', 'blood splatters', 'twist', 'demons', 'Priest', 'tolkien', 'Stand Up', 'Humour', 'Vietnam', 'short films', 'realistic', 'twists & turns', 'Rachel McAdams', 'Hearst', 'family', 'aviation', 'tom hardy', 'tricky', 'poignant', 'coulda been a contender', 'menacing', 'gangs', 'Screwball', 'Dr. Seuss', 'winona ryder', 'prison', 'unoriginal', 'fucked up', 'The Entertainer', 'Michael Crichton', 'Monty Python', 'humour', 'Amish', 'dystopia', 'high school', 'slasher', 'anti-intellectual', 'Sad', 'Philip Seymour Hoffman', 'pageant', 'entertaining', 'religion', 'cerebral', 'Guns', 'Matrix', 'relaxing', 'britpop', 'elegant', 'too long', 'financial crisis', 'teenagers', 'plot holes', 'weather forecaster', 'bad science', 'post apocalyptic', 'r:some violence', 'Tom Hanks', 'Big Brothers', 'austere', 'Oscar (Best Music - Original Score)', 'Hugh Jackman', 'Scifi masterpiece', 'arthouse', 'marvel', 'MMA', 'Cerebral', 'younger men', 'elegiac', 'Ghost', 'not linear', 'mind-bending', 'weird', 'Ninotchka remake', 'Hemingway', 'werewolf', 'Wizards', 'monologue', 'Nuclear disaster', 'stiller', "Palme d'Or", 'slow action', 'Istanbul', 'bad plot', 'black humor', 'humor', 'Hawkeye', 'Edith Wharton', 'Will Smith', 'visual', 'Van Gogh', 'road trip', 'Robert De Niro', 'lion', 'boxing', 'heavy metal', 'hip hop', 'Alcatraz', 'Edward Norton', 'Hannibal Lector', 'narrated', 'Venice', 'Emilia Clarke', 'dogs', 'sniper', 'long takes', 'harry potter', 'macho', 'shakespeare', 'Bittersweet', 'Death', 'Morgan Freeman', 'Jennifer Lawrence', 'GIVE ME BACK MY SON!', 'Nazis', 'Truman Capote', 'claims to be true', 'adventure', 'seen more than once', 'Girl Power', 'Everything you want is here', 'action packed', 'vertriloquism', 'Halle Berry', 'casino', 'sci-fi', 'Visually appealing', 'teacher', 'shrimp', 'Andy Kaufman', 'archaeology', 'based on a TV show', 'superficial plot', 'Nabokov', 'salute to Douglas Sirk', 'Russell Crowe', 'Steve Carell', 'Not Seen', 'birds', 'island', 'Mindfuck', 'superb soundtrack', "80's", 'video', 'Paul Giamatti', 'soccer', 'edward norton', 'blindness', 'rich guy - poor girl', 'In Netflix queue', 'narnia', 'figure skating', 'nonlinear narrative', 'great ending', 'ballroom dance', 'pulp', 'addiction', 'Jane Austen', 'Emma', 'science fiction', 'Veterinarian', 'bad ass', 'consumerism', 'terminal illness', 'babies', 'poor dialogue', 'los angeles', 'hugh jackman', 'deaf', 'nonlinear timeline', 'sophisticated', 'courtroom drama', 'first was much better', 'wizards', 'great screenplay', 'David Thewlis', '

In [ ]:
print(len(tag_column))
print(len(unique_tags))

3683
1589

In [ ]:
# Compute IDF for tag
total_movie_count = len(set(tags_df['movieId']))
# key: tag, value: number of movies with such tag
tag_count_dict = dict.fromkeys(unique_tags)

for each_movie_tag_list in tags_df['tag']:
    for tag in each_movie_tag_list.split(","):
        if tag_count_dict[tag.strip()] == None:
            tag_count_dict[tag.strip()] = 1
        else:
            tag_count_dict[tag.strip()] += 1

tag_idf = dict()
for each_tag in tag_count_dict:
    tag_idf[each_tag] = np.log10(total_movie_count / tag_count_dict[each_tag])

tag_idf

In [ ]:
len(tag_idf.keys())

1589

In [ ]:
# Create movie representations
tag_representation = pd.DataFrame(columns=sorted(unique_tags), index=list(set(tags_df['movieId'])))
for name, group in tqdm(tags_df.groupby(by='movieId')):
    temp_list = list(map(lambda x: x.split(','), list(group['tag'])))
    temp_tag_list = list(set(list(map(lambda x: x.strip(), list([tag for sublist in temp_list for tag in sublist])))))

    dict_temp = {i: tag_idf[i.strip()] for i in temp_tag_list}
    row_to_add = pd.DataFrame(dict_temp, index=[group['movieId'].values[0]])
    tag_representation.update(row_to_add)

tag_representation = tag_representation.sort_index(0)
tag_representation

100%|██████████| 1572/1572 [05:04<00:00,  5.16it/s]

       "artsy" 06 Oscar Nominated Best Movie - Animation  ... zoe kazan zombies
1          NaN                                       NaN  ...       NaN     NaN
2          NaN                                       NaN  ...       NaN     NaN
3          NaN                                       NaN  ...       NaN     NaN
5          NaN                                       NaN  ...       NaN     NaN
7          NaN                                       NaN  ...       NaN     NaN
...        ...                                       ...  ...       ...     ...
183611     NaN                                       NaN  ...       NaN     NaN
184471     NaN                                       NaN  ...       NaN     NaN
187593     NaN                                       NaN  ...       NaN     NaN
187595     NaN                                       NaN  ...       NaN     NaN
193565     NaN                                       NaN  ...       NaN     NaN

[1572 rows x 1589 columns]

- 예시로 살펴볼까요? 어떤 영화에 대해서 어떤 tag들이 있는지 한번 살펴봅시다.

In [ ]:
movies_df.head()

                                      title                                       genres
movieId
1                          Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                            Jumanji (1995)                   Adventure|Children|Fantasy
3                   Grumpier Old Men (1995)                               Comedy|Romance
4                  Waiting to Exhale (1995)                         Comedy|Drama|Romance
5        Father of the Bride Part II (1995)                                       Comedy

In [ ]:
tag_representation.loc[1].dropna()

fun      2.49748
pixar    2.89542
Name: 1, dtype: object

In [ ]:
tag_representation.loc[2].dropna()

Robin Williams      2.71933
fantasy              2.4183
game                3.19645
magic board game    3.19645
Name: 2, dtype: object

In [ ]:
print(genre_representation.shape)
print(tag_representation.shape)

(9742, 20)
(1572, 1589)

## Final Movie Represenation
- genre와 tag로 만들어진 representation을 합쳐서 각 movie의 vector로 만든다

In [ ]:
movie_representation = pd.concat([genre_representation, tag_representation], axis=1).fillna(0)
print(movie_representation.shape)
print(movie_representation.describe())

(9742, 1609)
       (no genres listed)       Action  ...    zoe kazan      zombies
count         9742.000000  9742.000000  ...  9742.000000  9742.000000
mean             0.008576     0.136354  ...     0.000328     0.001241
std              0.144915     0.283726  ...     0.032385     0.054775
min              0.000000     0.000000  ...     0.000000     0.000000
25%              0.000000     0.000000  ...     0.000000     0.000000
50%              0.000000     0.000000  ...     0.000000     0.000000
75%              0.000000     0.000000  ...     0.000000     0.000000
max              2.457169     0.726672  ...     3.196453     2.418301

[8 rows x 1609 columns]

## Contents 유사도 평가
- Cosine similarity를 사용

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

def cos_sim_matrix(a, b):
    cos_sim = cosine_similarity(a, b)
    result_df = pd.DataFrame(data=cos_sim, index=[a.index])

    return result_df

In [ ]:
print(movie_representation.head())

   (no genres listed)  Action  Adventure  ...  zither  zoe kazan  zombies
1                 0.0     0.0   0.887245  ...     0.0        0.0      0.0
2                 0.0     0.0   0.887245  ...     0.0        0.0      0.0
3                 0.0     0.0   0.000000  ...     0.0        0.0      0.0
4                 0.0     0.0   0.000000  ...     0.0        0.0      0.0
5                 0.0     0.0   0.000000  ...     0.0        0.0      0.0

[5 rows x 1609 columns]

In [ ]:
cs_df = cos_sim_matrix(movie_representation, movie_representation)
cs_df.head()

       0         1         2     ...      9739      9740      9741
1  1.000000  0.124438  0.008403  ...  0.000000  0.232553  0.093519
2  0.124438  1.000000  0.000000  ...  0.000000  0.000000  0.000000
3  0.008403  0.000000  1.000000  ...  0.000000  0.000000  0.089849
4  0.040571  0.000000  0.179391  ...  0.365843  0.000000  0.433821
5  0.011755  0.000000  0.011294  ...  0.000000  0.000000  0.125697

[5 rows x 9742 columns]

In [ ]:
cs_df.shape

(9742, 9742)

In [ ]:
print(cs_df.shape)
print(cs_df[1].sort_values(ascending=False))

(9742, 9742)
2         1.000000
46972     0.322201
126142    0.300850
2043      0.300850
2399      0.300850
            ...
39449     0.000000
39516     0.000000
39715     0.000000
39869     0.000000
7299      0.000000
Name: 1, Length: 9742, dtype: float64

In [ ]:
print(movies_df.loc[1])
print(movies_df.loc[46972])
print(movies_df.loc[126142])
print(movies_df.loc[2043])
print(movies_df.loc[2399])

title                                Toy Story (1995)
genres    Adventure|Animation|Children|Comedy|Fantasy
Name: 1, dtype: object
title     Night at the Museum (2006)
genres    Action|Comedy|Fantasy|IMAX
Name: 46972, dtype: object
title     The Cave of the Golden Rose (1991)
genres            Adventure|Children|Fantasy
Name: 126142, dtype: object
title     Darby O'Gill and the Little People (1959)
genres                   Adventure|Children|Fantasy
Name: 2043, dtype: object
title     Santa Claus: The Movie (1985)
genres       Adventure|Children|Fantasy
Name: 2399, dtype: object

## 추천시스템의 성능 평가
- 학습셋과 테스트셋을 나눈다.
- 테스트셋에서 예측한 평점과 실제 평점의 RMSE를 구한다.

In [ ]:
train_df, test_df = train_test_split(ratings_df, test_size=0.2, random_state=1234)

In [ ]:
print(train_df.shape)
print(test_df.shape)

(80668, 4)
(20168, 4)

In [ ]:
test_userids = list(set(test_df.userId.values))
test_userids

In [ ]:
result_df = pd.DataFrame()

for user_id in tqdm(test_userids):
    user_record_df = train_df.loc[train_df.userId == int(user_id), :]
    
    user_sim_df = cs_df.loc[user_record_df['movieId']]  # (n, 9742); n은 userId가 평점을 매긴 영화 수
    user_rating_df = user_record_df[['rating']]  # (n, 1)
    sim_sum = np.sum(user_sim_df.T.to_numpy(), -1)  # (9742, 1)
    # print("user_id=", i, user_record_df.shape, user_sim_df.T.shape, user_rating_df.shape, sim_sum.shape)

    prediction = np.matmul(user_sim_df.T.to_numpy(), user_rating_df.to_numpy()).flatten() / (sim_sum+1) # (9742, 1)

    prediction_df = pd.DataFrame(prediction, index=cs_df.index).reset_index()
    prediction_df.columns = ['movieId', 'pred_rating']    
    prediction_df = prediction_df[['movieId', 'pred_rating']][prediction_df.movieId.isin(test_df[test_df.userId == user_id]['movieId'].values)]

    temp_df = prediction_df.merge(test_df[test_df.userId == user_id], on='movieId')
    result_df = pd.concat([result_df, temp_df], axis=0)

100%|██████████| 610/610 [00:15<00:00, 39.97it/s]

In [ ]:
result_df.head(10)

   movieId  pred_rating  userId  rating  timestamp
0        1     4.145652       1     4.0  964982703
1       50     3.650755       1     5.0  964982931
2      216     2.670124       1     5.0  964981208
3      223     2.612844       1     3.0  964980985
4      231     4.215284       1     5.0  964981179
5      235     3.619820       1     4.0  964980908
6      316     4.136756       1     3.0  964982310
7      457     3.218743       1     5.0  964981909
8      543     3.729524       1     4.0  964981179
9      592     4.024728       1     4.0  964982271

In [ ]:
mse = mean_squared_error(y_true=result_df['rating'].values, y_pred=result_df['pred_rating'].values)
rmse = np.sqrt(mse)

print(mse, rmse)

1.40606646706041 1.1857767357561078