## Utilities 정의

- 영화 메타데이터 load

In [1]:
import pandas as pd

movies = pd.read_csv('/content/movies_w_imgurl.csv')
movies.head()

,movieId,imdbId,title,genres,imgurl
0,1,114709,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,https://images-na.ssl-images-amazon.com/images...
1,2,113497,Jumanji (1995),Adventure|Children|Fantasy,https://images-na.ssl-images-amazon.com/images...
2,3,113228,Grumpier Old Men (1995),Comedy|Romance,https://images-na.ssl-images-amazon.com/images...
3,4,114885,Waiting to Exhale (1995),Comedy|Drama|Romance,https://images-na.ssl-images-amazon.com/images...
4,5,113041,Father of the Bride Part II (1995),Comedy,https://images-na.ssl-images-amazon.com/images...

**1. define displayMovies function**

In [2]:

from IPython.display import display, HTML

def displayMovies(movies, movieIds, ratings = []):

    html = ""

    for i, movieId in enumerate(movieIds):
        movie = movies[movies['movieId'] == movieId].iloc[0]

        html += f"""
            <div style="display:inline-block;min-width:150px;max-width:150px; vertical-align:top">
                <img src = '{movie.imgurl}' width=120> <br/>
                <span>{movie.title}</span> <br/>
                {f'<span>{ratings[i]}</span> <br/>' if len(ratings) > 0 else ""}
                <ul>{"".join([f"<li>{genre}</li>" for genre in movie.genres.split('|')])}</ul>
            </div>            
        """
    
    display(HTML(html))

displayMovies(movies, [1,2,3], [4,3,3])

**define getMAE and getRMSE functions**

In [3]:
import numpy as np
import math

def getMAE(real, pred):
     errors = real - pred
     return errors.abs().mean()

def getRMSE(real, pred):
    errors = real - pred
    return math.sqrt(errors.pow(2).mean())

mat = np.array([
    [1, 2, 3],          # movieId
    [3.0, 4.0, 5.0],    # rating
    [3.2, 3.8, 4.3]     # prediction
])

ratings = pd.DataFrame(data=mat.T, columns=['movieId', 'rating', 'pred'])


mae = getMAE(ratings['rating'], ratings['pred'])
rmse = getRMSE(ratings['rating'], ratings['pred'])

print(f"MAE : {mae:.4f}")
print(f"RMSE: {rmse:.4f}")

MAE : 0.3667
RMSE: 0.4359